<section class="bg-white py-32 flex flex-col justify-center items-center gap-6">
  <h2 class="text-5xl text-center max-w-4xl">Discover a <span class="text-sky-600">world of adventure</span> through books with our <span class="text-sky-600">rental service</span></h2>
  <div class="flex gap-4">
    <button class="block bg-sky-600 text-white px-12 py-3 rounded-md">Get started</button>
    <button class="block border text-sky-600 border-sky-600 px-12 py-3 rounded-md">Learn more</button>
  </div>
</section>